.contact-container {
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-card {
    height: 200px;
    width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    background-color: gray;
    cursor: pointer;
    transition: .8s;
}

.contact-card:hover {
    transform: scale(1.1);
}