* {
  padding: 0;
  margin: 0;
  /* background-color: #000; */
  color: #fff;
  font-family: 'kdam Thmor Pro', sans-serif;
  /* box-sizing: border-box; */
}

body {
  background-color: black;
}

/* html {
  position: absolute;
  width: 100%;
} */

/* #root {
  height: 100%;
} */